<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en MercadoLiebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images\logo-mercado-liebre.svg" class="logo" alt="logo">

            <div class="buscador"><input type="search" class="barra-busqueda" placeholder="Busca productos, marcas">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </div>
            <h2 class="titulo-header"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de
                crédito </h2>
        </div>

        <a href=# class="burga"><i class="fas fa-bars"></i> </a>

        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href=#>Ofertas</a></li>
                <li><a href=#>Tiendas oficiales</a></li>
                <li><a href=#>Vender</a></li>
                <li><a href=#>Ayuda</li></a>
            </ul>
            <ul class="right-nav-bar">
                <li><a href="/register.html">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href=/login.html>Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href=#>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <h2 class="tituloform">Registrate!</h2>
    <div class="forms registro">
        <form action="/register" method="Post">
            <label for="nombre"></label>
            <input type="text" id="nombre" placeholder= "Nombre y Apellido" name="nombre" class="inputs"><br><br>

            <label for="username"></label>
            <input type="text" id="username" placeholder= "Nombre de usuario" name="username" class="inputs"><br><br>

            <label for="fecha-nacimiento"></label>
            <input type="date" id="fecha-nacimiento" placeholder= "Fecha de Nacimiento" name="fecha-nacimiento" class="inputs"><br><br>

            <label for="domicilio"></label>
            <input type="text" id="domicilio"placeholder= "Domiclio" name="domicilio" class="inputs"><br><br>

            <label for="perfil-usuario">Perfil del usuario (comprar o vender):</label>
            <select id="perfil-usuario" name="perfil-usuario" class="inputs">
                <option value="comprar" class="inputs">Comprar</option>
                <option value="vender" class="inputs">Vender</option>
            </select><br><br>

            <label for="categorias-interes">Categorías de interés:</label><br>
            <div class="interes">
                <input type="checkbox" id="electro" name="categorias-interes" value="electro">
                <label for="electro">Electro</label><br>
                <input type="checkbox" id="moda" name="categorias-interes" value="moda">
                <label for="moda">Moda</label><br>
                <input type="checkbox" id="hogar" name="categorias-interes" value="hogar">
                <label for="hogar">Hogar</label><br>
                <input type="checkbox" id="jugueteria" name="categorias-interes" value="jugueteria">
                <label for="jugueteria">Juguetería</label><br>
                <input type="checkbox" id="vida-sana" name="categorias-interes" value="vida-sana">
                <label for="vida-sana">Vida sana</label>
            </div><br><br>

            <label for="foto-usuario">Foto de usuario:</label>
            <input type="file" id="foto-usuario" name="foto-usuario" accept=".jpg .png .jpeg" class="inputs"><br><br>

            <label for="password"></label>
            <input type="password" id="password" placeholder= "Introduzca su contraseña" name="password" class="inputs"><br><br>

            <label for="confirmar-password"></label>
            <input type="password" id="confirmar-password" placeholder= "Confirme su contraseña" name="confirmar-password" class="inputs"><br><br>

            <button type="submit" class="enviar-azul">Enviar</button> <br><br><br>
            <button type="reset">Borrar</button>
        </form>
    </div>
    <footer>
        <div class="footerpc">
            <div><i class="fa-solid fa-credit-card iconofooter"></i>
                <h2 class="hfooter">Pagá con tarjeta o en efectivo</h2>
                <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p> <br><br>
            </div>
            <div><i class="fa-solid fa-gift iconofooter"></i>
                <h2 class="hfooter">Envío gratis desde $ 2.500</h2></b>
                <p class="textofooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p><br><br>
            </div>
            <div> <i class="fa-solid fa-user-shield iconofooter"></i>
                <h2 class="hfooter">Seguridad, de principio a fin</h2>
                <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div> <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L </p>
    </footer>
</body>

</html>